<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="scripts/localforage.min.js"></script>
    <title>帝成订单管理系统</title>
</head>
<!-- 这里是样式表 -->
<style>
    body {
        line-height: 2em;
        font-size: 10px;
    }

    h1 {
        text-align: center;
    }

    td {
        text-align: center;
    }

    input:not(#showAddOrder) {
        /* display: inline-block; */
        position: absolute;
        right: 30px;
        width: 200px;
        margin: 5px auto
    }

    .goods {
        margin-left: 30px;
    }

    .formitem>button {
        margin: 0 30px;
        width: 80%;
    }

    .express {
        color: grey;
    }

    .tip {
        color: red;
        text-align: center;
        font-size: 12px;
    }

    #showAddOrder {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    b{
        color:red;
    }
    /* #addOrderForm {
        border-style: dashed;
    } */
</style>
<!-- 这里是HTML主体 -->

<body>
    <div id="app">
        <div class="container">
            <h1 class="text-primary">帝成订单管理系统</h1>
            <!-- 添加订单 -->
            <div class="checkbox" style="background-color: burlywood;text-align: center">
                <input type="checkbox" id="showAddOrder" v-model="showAddOrder">
                <label class="text-info" for="showAddOrder" style="margin-left:20px">显示编辑订单</label>
            </div>

            <div class="bg-success form-horizontal" id="addOrderForm" v-show="showAddOrder">
                <div class="formitem form-group">
                    <label for="customer" class="col-sm-2 control-label">客户:</label>
                    <input type="text" id="customer" v-model.trim="customer">
                    <div class="tip" v-show="showTipCustomer">请输入客户</div>
                </div>
                <div class="express" v-if="activeCustomers.length">
                    <label class="col-sm-2 control-label">快速选择:</label>
                    <button class="btn btn-info btn-xs" v-for="customer in activeCustomers" :key="customer"
                        @click="handleQuickAddCustomer">{{customer}}</button>
                    <br>
                    <button class="btn btn-danger btn-xs" @click="handleClearCustomer">清除</button>
                </div>
                <div class="formitem form-group">
                    <label for="createDate" class="col-sm-2 control-label">下单时间:</label>
                    <input type="date" id="createDate" v-model="createDate">
                    <div class="tip" v-show="showTipCreateDate">请输下单日期</div>
                </div>
                <div class="formitem">
                    <label>商品:</label>
                    <div class="tip" v-show="showTipGoods">商品不能为空</div>
                    <table class="table bg-info" v-if="goods.length" style="margin:0 auto">
                        <thead>
                            <td>类型</td>
                            <td>单价</td>
                            <td>数量</td>
                            <td>总价</td>
                            <td>操作</td>
                        </thead>
                        <tbody>
                            <tr v-for="(good,goodindex) in goods">
                                <td>{{good.type}}</td>
                                <td>{{good.price}}</td>
                                <td>{{good.number}}</td>
                                <td>{{good.total}}</td>
                                <td><button class="btn btn-xs btn-danger" @click="handleDeleteGood(goodindex)"><span
                                            class="glyphicon glyphicon-trash"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="gooditem form-group">
                        <label class="goods col-sm-2 control-label" for="goodtype">类型:</label>
                        <input type="text" id="goodtype" v-model.trim="goodtype">
                        <div class="tip" v-show="showTipGoodtype">请输入商品类型</div>
                    </div>
                    <div class="express" v-if="activeGoodtypes.length">
                        <label class="col-sm-2 control-label">快速选择:</label>
                        <button class="btn btn-info btn-xs" v-for="goodtype in activeGoodtypes" :key="goodtype"
                            @click="handleQuickAddGoodtype">{{goodtype}}</button>
                        <br>
                        <button class="btn btn-danger btn-xs" @click="handleClearGoodtype">清除</button>
                    </div>
                    <div class="gooditem form-group">
                        <label class="goods col-sm-2 control-label" for="goodprice">单价:</label>
                        <input type="number" id="goodprice" v-model.number="goodprice">
                        <div class="tip" v-show="showTipGoodprice">请输入正确商品单价</div>
                    </div>
                    <div class="gooditem form-group">
                        <label class="goods col-sm-2 control-label" for="goodnumber">数量:</label>
                        <input type="number" id="goodnumber" v-model.number="goodnumber">
                        <div class="tip" v-show="showTipGoodnumber">请输入正确商品数量</div>
                    </div>
                    <button class="btn btn-success" class="goods" style="margin-bottom:10px"
                        @click="handleAddGood">添加商品</button>
                </div>
                <div class="formitem form-group">
                    <label for="amount" class="col-sm-2 control-label">订单总价:</label>
                    <input type="number" disabled id="amount" v-model.number="amount">
                </div>
                <div class="formitem form-group">
                    <label for="paidDate" class="col-sm-2 control-label">付款时间:</label>
                    <input type="date" id="paidDate" v-model="paidDate">
                </div>
                <div class="formitem form-group">
                    <label for="receive" class="col-sm-2 control-label">付款金额:</label>
                    <input type="number" id="receive" v-model.number="receive">
                </div>
                <div class="formitem form-group">
                    <template v-if="isEditing">
                        <!-- <div style="width:100%" v-if="isEditing" class="btn-group" role="group" aria-label="..."> -->
                        <button class="btn btn-lg" @click="handleCancelEdit"
                            style="display:inline;width:30%">取消</button>
                        <button class="btn btn-primary btn-lg" @click="handleSubmitEdit"
                            style="display:inline;width:30%">修改</button>
                        <!-- </div> -->
                    </template>
                    <button class="btn btn-primary btn-lg" @click="handleAddOrder" v-else>添加订单</button>
                </div>
            </div>
            <!-- 统计信息 -->
            <div id="analyze" class="analyze">
                <h5 style="color:darkorchid">统计</h5>
                <div class="form-group">
                    <label for="from">从</label>
                    <input class="form-ana" type="date" id="from" v-model="datefrom">
                </div>
                <div class="form-group">
                    <label for="to">到</label>
                    <input class="form-ana" type="date" id="to" v-model="dateto">
                </div>
                
                <button class="btn btn-success center-block" @click="handleAnalyze">统计订单</button>
            </div>
            <div class="info" v-if="showAnalyze" style="text-align: center;color:darkorchid">
                <h5>{{datefrom}}~{{dateto}}期间，
                    总共有<b>{{createdNumber}}</b>个订单:<b>{{createdAmount}}</b>元；
                    <b>{{paidNumber}}</b>个付款:<b>{{paidReceive}}</b>元。其中</h5>
                <p v-for="(value,name) in orderGroups">
                    <b>{{name}}</b>有<b>{{value.created.orders.length}}</b>个订单，共<b>{{value.created.amount}}</b>元；
                    <b>{{value.paid.orders.length}}</b>个付款，共<b>{{value.paid.receive}}</b>元
                </p>
                <button class="btn btn-default pull-right" @click="handleCancelAnalyze">取消</button>
            </div>
            <!-- 显示订单表格 -->
            <table class="table table-bordered bg-info" table-striped>
                <thead>
                    <td>#</td>
                    <td>详情</td>
                    <td>客户</td>
                    <td>下单日期</td>
                    <td>下单金额</td>
                    <td>付款日期</td>
                    <td>付款金额</td>
                    <td>操作</td>
                </thead>
                <tbody>
                    <template v-for="(order,index) in filteredOrders">
                        <tr>
                            <td>{{index+1}}</td>
                            <td><button class="btn btn-info btn-xs" @click="handleShowDetail(index)"><span
                                        class="glyphicon glyphicon-th-list"></span></button></td>
                            <td>{{order.customer}}</td>
                            <td>{{order.createDate}}</td>
                            <td>{{order.amount}}</td>
                            <td>{{order.paidDate}}</td>
                            <td>{{order.receive}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button class="btn btn-primary btn-xs" @click="handleEditOrder(order,index+1)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-danger btn-xs" @click="handleDeleteOrder(order.id,index+1)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr v-show="index==currentDetail">
                            <td colspan="8">
                                <table class="table table-bordered">
                                    <thead>
                                        <td>商品</td>
                                        <td>单价</td>
                                        <td>数量</td>
                                        <td>总价</td>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(good,goodindex) in order.goods">
                                            <td>{{good.type}}</td>
                                            <td>{{good.price}}</td>
                                            <td>{{good.number}}</td>
                                            <td>{{good.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</body>
<!-- 下面是JavaScript脚本    -->
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            orders: [],
            customer: "",
            createDate: "",
            goods: [],
            goodtype: "",
            goodprice: 0,
            goodnumber: 0,
            paidDate: null,
            receive: 0,
            showTipGoodtype: false,
            showTipGoodprice: false,
            showTipGoodnumber: false,
            showTipCustomer: false,
            showTipCreateDate: false,
            showTipGoods: false,
            currentDetail: null,
            showAddOrder: false,
            isEditing: false,
            editingOrder: null,
            datefrom: "",
            dateto: "",
            orderGroups:{},
            showAnalyze:false,
            createdNumber:0,
            createdAmount:0,
            paidNumber:0,
            paidReceive:0
        },
        created: function () {
            localforage.getItem("orders").then((orders) => {
                this.orders = JSON.parse(orders || '[]');
            }).catch(function (err) {
                console.log(err);
            });
        },
        watch: {
            orders: {
                handler: function (value, oldValue) {
                    localforage.setItem("orders", JSON.stringify(value)).then(function (orders) {
                        console.log("存储成功");
                    }).catch(function (err) {
                        console.log("存储失败");
                    });
                },
                deep: true
            },
        },
        computed: {
            filteredOrders: function () {
                filteredOrders = this.orders.slice(0);
                return filteredOrders;
            },
            activeCustomers: function () {
                let activeCustomers = [];
                this.orders.forEach(order => {
                    if (!activeCustomers.includes(order.customer)) {
                        activeCustomers.push(order.customer);
                    }
                });
                return activeCustomers;
            },
            activeGoodtypes: function () {
                let activeGoodtypes = [];
                this.orders.forEach(order => {
                    order.goods.forEach(good => {
                        if (!activeGoodtypes.includes(good.type)) {
                            activeGoodtypes.push(good.type);
                        }
                    });
                });
                return activeGoodtypes;
            },
            amount: function () {
                return this.goods.length ? this.goods.reduce((a, b) => {
                    return {
                        total: a.total + b.total
                    }
                }).total : 0;
            }
        },
        methods: {
            handleQuickAddCustomer(event) {
                this.customer = event.target.innerText;
            },
            handleClearCustomer() {
                this.customer = "";
            },
            handleQuickAddGoodtype() {
                this.goodtype = event.target.innerText;
            },
            handleClearGoodtype() {
                this.goodtype = "";
            },
            handleShowDetail(index) {
                this.currentDetail = index == this.currentDetail ? null : index;
            },
            handleAddGood() {
                this.showTipCustomer = false;
                this.showTipCreateDate = false;
                this.showTipGoods = false;
                if (!this.goodtype) {
                    return this.showTipGoodtype = true;
                }
                this.showTipGoodtype = false;
                if (this.goodprice <= 0) {
                    return this.showTipGoodprice = true;
                }
                this.showTipGoodprice = false;
                if (this.goodnumber <= 0) {
                    return this.showTipGoodnumber = true;
                }
                this.showTipGoodnumber = false;
                let total = this.goodprice * this.goodnumber;
                this.goods.push({
                    type: this.goodtype,
                    price: this.goodprice,
                    number: this.goodnumber,
                    total: total
                });
                this.goodtype = "";
                this.goodprice = 0;
                this.goodnumber = 0;
            },
            handleAddOrder() {
                this.showTipGoodtype = false;
                this.showTipGoodprice = false;
                this.showTipGoodnumber = false;
                if (!this.customer) {
                    return this.showTipCustomer = true;
                }
                this.showTipCustomer = false;
                if (!this.createDate) {
                    return this.showTipCreateDate = true;
                }
                this.showTipCreateDate = false;
                if (!this.goods.length) {
                    return this.showTipGoods = true;
                }
                this.showTipGoods = false;
                this.orders.push({
                    id: Date.now(),
                    customer: this.customer,
                    createDate: this.createDate,
                    goods: this.goods,
                    amount: this.amount,
                    paidDate: this.paidDate,
                    receive: this.receive
                });
                this.customer = "";
                this.createDate = "";
                this.goods = [];
                this.paidDate = "";
                this.receive = 0;
                this.showAddOrder = false;
            },
            handleDeleteGood(goodindex) {
                this.goods.splice(goodindex, 1);
            },
            handleDeleteOrder(id, idx) {
                let sure = confirm("确定永久删除序号为" + idx + "的记录吗？");
                sure && this.orders.forEach((order, index) => {
                    if (order.id == id) {
                        this.orders.splice(index, 1);
                        return;
                    }
                });
            },
            handleEditOrder(order, idx) {
                this.showAddOrder = true;
                this.isEditing = true;
                this.editingOrder = order;
                this.customer = order.customer;
                this.createDate = order.createDate;
                this.goods = order.goods;
                // this.amount = order.amount;
                this.paidDate = order.paidDate;
                this.receive = order.receive;
            },
            handleSubmitEdit() {
                this.orders.forEach((order, index) => {
                    if (order.id == this.editingOrder.id) {
                        Vue.set(this.orders, index, {
                            id: this.editingOrder.id,
                            customer: this.customer,
                            createDate: this.createDate,
                            goods: this.goods,
                            amount: this.amount,
                            paidDate: this.paidDate,
                            receive: this.receive,
                        });
                        return;
                    }
                });
                this.customer = "";
                this.createDate = "";
                this.goods = [];
                this.paidDate = "";
                this.receive = 0;
                this.isEditing = false;
                this.showAddOrder = false;
            },
            handleCancelEdit() {
                this.customer = "";
                this.createDate = "";
                this.goods = [];
                this.paidDate = "";
                this.receive = 0;
                this.isEditing = false;
                this.showAddOrder = false;
            },
            handleAnalyze() {
                let orderGroups = {};
                this.activeCustomers.forEach(activeCustomer => {
                    orderGroups[activeCustomer] = {
                        created: {
                            orders: [],
                            amount: 0
                        },
                        paid: {
                            orders: [],
                            receive: 0
                        },
                    };
                });
                // console.log(orderGroups)
                this.orders.forEach(order => {
                    if (Date.parse(order.createDate) >= Date.parse(this.datefrom) &&
                        Date.parse(order.createDate) <= Date.parse(this.dateto)) {
                        orderGroups[order.customer].created.orders.push(order);
                    }
                    if (Date.parse(order.paidDate) >= Date.parse(this.datefrom) &&
                        Date.parse(order.paidDate) <= Date.parse(this.dateto)) {
                        orderGroups[order.customer].paid.orders.push(order);
                    }
                });
                this.createdNumber=0;
                this.createdAmount=0;
                this.paidNumber=0;
                this.paidReceive=0;
                for (const activeCustomer in orderGroups) {
                    if (orderGroups.hasOwnProperty(activeCustomer)) {
                        const orderGroup = orderGroups[activeCustomer];
                        this.createdNumber=this.createdNumber+orderGroup.created.orders.length;
                        this.paidNumber=this.paidNumber+orderGroup.paid.orders.length;
                        orderGroup.created.amount=orderGroup.created.orders.reduce(function(a,b){
                            return {
                                amount:a.amount+b.amount
                            };
                        },{amount:0}).amount;
                        this.createdAmount=this.createdAmount+orderGroup.created.amount;
                        orderGroup.paid.receive=orderGroup.paid.orders.reduce(function(a,b){
                            return {
                                receive:a.receive+b.receive
                            };
                        },{receive:0}).receive;
                        this.paidReceive=this.paidReceive+orderGroup.paid.receive;
                    }
                }
                this.orderGroups=orderGroups;
                this.showAnalyze=true;
                
            },
            handleCancelAnalyze(){
                this.showAnalyze=false;
            }
        }
    })
</script>

</html>