<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="/node_modules/vue/dist/vue.js"></script> -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- <link rel="stylesheet" href="/node_modules/element-ui/lib/theme-chalk/index.css">
    <script src="/node_modules/element-ui/lib/index.js"></script> -->
    <script src="https://cdn.bootcss.com/localforage/1.7.3/localforage.min.js"></script>
    <!-- <script src="/node_modules/localforage/dist/localforage.js"></script> -->
    <!-- <link rel="stylesheet" href="index.css"> -->
    <title>订单管理系统</title>
</head>
<style>
    #title {
        text-align: center;
    }

    .el-table .uncomplete-row {
        background: #F56C6C;
        color: black
    }

    .el-table .complete-row {
        background: #DCDFE6;
    }
</style>

<body>
    <div id="app">
        <el-header center>
            <h1 id="title">帝成窗帘订单管理系统</h1>
        </el-header>
        <el-main>
            <el-button type="success" @click="handleShowAdd">添加订单</el-button>
            <el-dialog title="添加订单" :visible.sync="dialogFormVisible" fullscreen>
                <!-- <el-dialog title="添加客户" :visible.sync="dialogCustomerVisible" append-to-body>
                    <ol>
                        <li v-for="(customer,index) in customers">
                            {{customer}}
                            <el-button icon="el-icon-delete" circle @click="handleDeleteCustomer(index)"></el-button>
                        </li>
                    </ol>
                    输入常用客户：
                    <el-input autofocus=true v-model="newCustomer" placeholder="请输新客户"></el-input>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogCustomerVisible=false">关 闭</el-button>
                        <el-button type="primary" @click="handleAddCustomer">添 加</el-button>
                    </div>
                </el-dialog> -->
                <el-form :model="form">
                    <el-form-item label="下单日期" :label-width="formLabelWidth">
                        <el-date-picker v-model="form.createDate" type="date" placeholder="选择下单日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="付款日期" :label-width="formLabelWidth">
                        <el-date-picker v-model="form.paidDate" type="date" placeholder="选择付款日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="客户" :label-width="formLabelWidth">
                        <el-select filterable allow-create v-model="form.customer" placeholder="选择客户">
                            <el-option v-for="item in customers" :key="item" :label="item" :value="item">
                            </el-option>
                        </el-select>
                        <!-- <el-button type="primary" @click="dialogCustomerVisible = true">编辑客户列表</el-button> -->
                    </el-form-item>
                    <el-table :data="form.goods" fit>
                        <el-table-column prop="type" label="类型">
                        </el-table-column>
                        <el-table-column prop="price" label="单价">
                        </el-table-column>
                        <el-table-column prop="number" label="数量">
                        </el-table-column>
                        <el-table-column prop="total" label="总价">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-form-item label="添加商品" :label-width="formLabelWidth">
                        <el-form :model="good">
                            <el-form-item label="类型">
                                <el-select allow-create filterable v-model="good.type">
                                    <el-option v-for="item in types" :key="item" :label="item" :value="item">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="单价">
                                <el-input v-model.number="good.price"></el-input>
                            </el-form-item>
                            <el-form-item label="数量">
                                <el-input v-model.number="good.number"></el-input>
                            </el-form-item>

                            <el-button type="primary" @click="handleAddGood">添加</el-button>

                        </el-form>
                    </el-form-item>
                    <!-- <el-form-item label="应收金额" :label-width="formLabelWidth">
                        <el-input v-model="form.amount" autocomplete="off"></el-input>
                    </el-form-item> -->
                    <el-form-item label="实收金额" :label-width="formLabelWidth">
                        <el-input v-model.number="form.receive" autocomplete="off"></el-input>
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">

                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="handleAddOrder">确 定</el-button>
                </div>
            </el-dialog>

            <el-row>
                <el-col :span="1">开始</el-col>
                <el-col :span="7">
                    <el-date-picker v-model="startDate" type="date" placeholder="选择开始日期">
                    </el-date-picker>
                </el-col>
                <el-col :span="1">结束</el-col>
                <el-col :span="7">
                    <el-date-picker v-model="endDate" type="date" placeholder="选择结束日期">
                    </el-date-picker>
                </el-col>
                <el-col :span="1"> 客户</el-col>
                <el-col :span="5">
                    <el-select filterable allow-create v-model="filterCustomer" placeholder="选择客户">
                        <el-option key="all" label="全部" value="all"></el-option>
                        <el-option v-for="item in customers" :key="item" :label="item" :value="item">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="2">
                    <el-button type="info" @click="handleStatistic">统计</el-button>
                </el-col>
            </el-row>
            <el-table :data="filteredOrders" style="width: 100%" fit :row-class-name="tableRowClassName">
                <!-- <el-table-column type="expand">
                    <template slot-scope="scope">
                        <el-table :data="scope.row.goods" style="width:100%">
                            <el-table-column prop="type" label="类型">
                            </el-table-column>
                            <el-table-column prop="price" label="单价">
                            </el-table-column>
                            <el-table-column prop="number" label="数量">
                            </el-table-column>
                            <el-table-column prop="total" label="总价">
                            </el-table-column>

                        </el-table>
                    </template>
                </el-table-column> -->
                <!-- <el-table-column type="selection" v-model="selected" width="55">
                </el-table-column> -->
                <el-table-column prop="id" label="订单号" sortable>
                </el-table-column>
                <el-table-column prop="createDate" label="下单日期" sortable>
                    <template slot-scope="scope">
                        {{scope.row.createDate&&scope.row.createDate.toLocaleDateString()}}
                    </template>
                </el-table-column>
                <el-table-column prop="paidDate" label="付款日期" sortable>
                    <template slot-scope="scope">
                        {{scope.row.paidDate&&scope.row.paidDate.toLocaleDateString()}}
                    </template>
                </el-table-column>
                <el-table-column :filters="customersFilter" :filter-method="filterCustomers" prop="customer" label="客户"
                    sortable>
                </el-table-column>
                <el-table-column prop="goods" label="商品" type="expand">
                    <template slot-scope="scope">
                        <!-- <ol>
                            <li v-for="good in scope.row.goods">
                                【{{good.type}}】【￥{{good.price}}】【#{{good.number}}】【￥￥{{good.total}}】
                            </li>
                        </ol> -->
                        <el-table :data="scope.row.goods" style="width:100%">
                            <el-table-column prop="type" label="类型">
                            </el-table-column>
                            <el-table-column prop="price" label="单价">
                            </el-table-column>
                            <el-table-column prop="number" label="数量">
                            </el-table-column>
                            <el-table-column prop="total" label="总价">
                            </el-table-column>

                        </el-table>
                    </template>
                </el-table-column>
                <el-table-column prop="amount" label="应收金额" sortable>
                </el-table-column>
                <el-table-column prop="receive" label="实收金额" sortable>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button type="primary" icon="el-icon-edit" circle
                            @click="handleShowEdit(scope.$index, scope.row)"></el-button>
                        <el-button type="danger" icon="el-icon-delete" circle
                            @click="handleDeleteOrder(scope.$index, scope.row)"></el-button>
                    </template>
                </el-table-column>
            </el-table>



            <el-dialog title="修改订单" :visible.sync="dialogEditVisible">
                <!-- <el-dialog title="添加客户" :visible.sync="dialogCustomerVisible" append-to-body>
                    <ol>
                        <li v-for="(customer,index) in customers">
                            {{customer}}
                            <el-button icon="el-icon-delete" circle @click="handleDeleteCustomer(index)"></el-button>
                        </li>
                    </ol>
                    输入常用客户：
                    <el-input autofocus=true v-model="newCustomer" placeholder="请输新客户"></el-input>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogCustomerVisible=false">关 闭</el-button>
                        <el-button type="primary" @click="handleAddCustomer">添 加</el-button>
                    </div>
                </el-dialog> -->
                <el-form :model="form">
                    <el-form-item label="下单日期" :label-width="formLabelWidth">
                        <el-date-picker v-model="form.createDate" type="date" placeholder="选择下单日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="付款日期" :label-width="formLabelWidth">
                        <el-date-picker v-model="form.paidDate" type="date" placeholder="选择付款日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="客户" :label-width="formLabelWidth">
                        <el-select filterable allow-create v-model="form.customer" placeholder="选择客户">
                            <el-option v-for="item in customers" :key="item" :label="item" :value="item">
                            </el-option>
                        </el-select>
                        <!-- <el-button type="primary" @click="dialogCustomerVisible = true">编辑客户列表</el-button> -->
                    </el-form-item>
                    <el-table :data="form.goods" fit>
                        <el-table-column prop="type" label="类型">
                        </el-table-column>
                        <el-table-column prop="price" label="单价">
                        </el-table-column>
                        <el-table-column prop="number" label="数量">
                        </el-table-column>
                        <el-table-column prop="total" label="总价">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-form-item label="添加商品" :label-width="formLabelWidth">
                        <el-form :model="good">
                            <el-form-item label="类型">
                                <el-select allow-create filterable v-model="good.type">
                                    <el-option v-for="item in types" :key="item" :label="item" :value="item">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="单价">
                                <el-input v-model.number="good.price"></el-input>
                            </el-form-item>
                            <el-form-item label="数量">
                                <el-input v-model.number="good.number"></el-input>
                            </el-form-item>

                            <el-button type="primary" @click="handleAddGood">添加</el-button>

                        </el-form>
                    </el-form-item>
                    <!-- <el-form-item label="应收金额" :label-width="formLabelWidth">
                        <el-input v-model="form.amount" autocomplete="off"></el-input>
                    </el-form-item> -->
                    <el-form-item label="实收金额" :label-width="formLabelWidth">
                        <el-input v-model.number="form.receive" autocomplete="off"></el-input>
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">

                    <el-button @click="dialogEditVisible = false">取 消</el-button>
                    <el-button type="primary" @click="handleEditOrder">确 定</el-button>
                </div>
            </el-dialog>
        </el-main>
    </div>
    <script>
        ;
        (function (window) {
            const vm = new Vue({
                el: "#app",
                data: {
                    message: "ElementJS is fantastic!",
                    dialogFormVisible: false,
                    dialogEditVisible: false,
                    newCustomer: "",
                    currentEdit: null,
                    good: {
                        type: '',
                        number: 0,
                        price: 0,
                        total: 0
                    },
                    form: {
                        id: '',
                        createDate: '',
                        paidDate: '',
                        customer: '',
                        goods: [],
                        amount: 0,
                        receive: 0,
                    },
                    formLabelWidth: '120px',
                    orders: [],
                    startDate: new Date(),
                    endDate: new Date(),
                    filterCustomer: "all",
                    statistics: {
                        created: {},
                        paid: {}
                    },
                },
                created: function () {
                    localforage.getItem('orders').then((orders) => {
                        // 当离线仓库中的值被载入时，此处代码运行
                        this.orders = orders || [];
                    }).catch((err) => {
                        // 当出错时，此处代码运行
                        console.log(err);
                    });
                    // localforage.getItem('customers').then((customers) => {
                    //     // 当离线仓库中的值被载入时，此处代码运行
                    //     this.customers = customers || [];
                    // }).catch((err) => {
                    //     // 当出错时，此处代码运行
                    //     console.log(err);
                    // });
                },
                computed: {
                    filteredOrders() {
                        return this.orders
                        // return this.orders.filter(function(order){
                        //     return order.paidDate  && (order.paidDate>=this.startDate) && (order.paidDate<this.endDate) && (this.filterCustomer==="all" || this.filterCustomer===order.customer);
                        // }.bind(this));
                    },
                    types() {
                        var types = [];
                        this.orders.forEach(order => {
                            order.goods.forEach(good => {
                                if (!types.includes(good.type)) {
                                    types.push(good.type);
                                }
                            });
                        });
                        return types;
                    },
                    customers() {
                        var customers = [];
                        this.orders.forEach(order => {
                            if (!customers.includes(order.customer)) {
                                customers.push(order.customer);
                            }
                        });
                        return customers;
                    },
                    customersFilter() {
                        return this.customers.map(function (customer) {
                            return {
                                text: customer,
                                value: customer
                            }
                        })
                    },
                },
                watch: {
                    orders: {
                        handler: function (val, oldVal) {
                            localforage.setItem('orders', val).then(function (value) {
                                // 当值被存储后，可执行其他操作
                                console.log('orders changed');
                            }).catch(function (err) {
                                // 当出错时，此处代码运行
                                console.log(err);
                            });;
                        },
                        deep: true
                    },
                },
                methods: {
                    handleShowAdd() {
                        this.dialogFormVisible = true;
                        this.form = {
                            id: '',
                            createDate: '',
                            paidDate: '',
                            customer: '',
                            goods: [],
                            amount: 0,
                            receive: 0,
                        };
                    },
                    handleAddOrder() {
                        this.form.id = Date.parse(new Date());
                        this.form.amount = this.form.goods.reduce(function (a, b) {
                            return {
                                total: a.total + b.total
                            }
                        }).total;
                        console.log(this.form.amount)
                        this.orders.push(this.form);
                        this.form = {
                            id: '',
                            createDate: '',
                            paidDate: '',
                            customer: '',
                            goods: [],
                            amount: 0,
                            receive: 0,
                        };
                        this.dialogFormVisible = false;
                    },
                    handleDeleteOrder(i, r) {
                        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.orders.forEach((order, index) => {
                                if (order.id === r.id) {
                                    this.orders.splice(index, 1);
                                }
                            });
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                        }).catch(() => {
                            this.$message({
                                type: 'info',
                                message: '已取消删除'
                            });
                        });
                    },
                    // handleAddCustomer() {
                    //     this.customers.push(this.newCustomer);
                    //     this.newCustomer = "";
                    // },
                    handleAddGood() {
                        this.good.total = this.good.price * this.good.number;
                        this.form.goods.push(this.good);
                        this.good = {
                            type: '',
                            number: 0,
                            price: 0,
                            total: 0
                        }
                    },
                    handleDelete(i, r) {
                        this.form.goods.splice(i, 1);
                    },
                    // handleDeleteCustomer(i) {
                    //     this.customers.splice(i, 1);
                    // },
                    handleShowEdit(i, r) {
                        this.dialogEditVisible = true;
                        this.currentEdit = r;
                        for (const attr in this.currentEdit) {
                            if (this.currentEdit.hasOwnProperty(attr)) {
                                this.form[attr] = this.currentEdit[attr];
                            }
                        }
                        this.form.goods = this.currentEdit.goods.slice();
                    },
                    handleEditOrder() {
                        this.form.amount = this.form.goods.reduce(function (a, b) {
                            return {
                                total: a.total + b.total
                            }
                        }).total;
                        for (const attr in this.form) {
                            if (this.form.hasOwnProperty(attr)) {
                                this.currentEdit[attr] = this.form[attr];
                            }
                        }
                        this.currentEdit = null;
                        this.form = {
                            id: '',
                            createDate: '',
                            paidDate: '',
                            customer: '',
                            goods: [],
                            amount: 0,
                            receive: 0,
                        };
                        this.dialogEditVisible = false;
                    },
                    tableRowClassName({
                        row,
                        rowIndex
                    }) {
                        if (row.receive == 0) {
                            return 'uncomplete-row';
                        } else {
                            return 'complete-row';
                        }
                        return '';
                    },
                    filterCustomers(customer, order, column) {
                        return order.customer === customer
                    },
                    handleStatistic() {
                        this.statistics.customer = this.filterCustomer;
                        this.statistics.created.orders = this.orders.filter(function (order) {
                            return order.createDate && (order.createDate >= this.startDate) && (
                                order.createDate < this.endDate) && (this.filterCustomer ===
                                "all" || this.filterCustomer === order.customer);
                        }.bind(this));
                        this.statistics.paid.orders = this.orders.filter(function (order) {
                            return order.paidDate && (order.paidDate >= this.startDate) && (order
                                .paidDate < this.endDate) && (this.filterCustomer === "all" ||
                                this.filterCustomer === order.customer);
                        }.bind(this));
                        this.statistics.created.amount = this.statistics.created.orders.length ? this
                            .statistics.created.orders.reduce(function (a, b) {
                                return {
                                    amount: a.amount + b.amount
                                }
                            }).amount : 0;
                        this.statistics.paid.receive = this.statistics.paid.orders.length ? this.statistics
                            .paid.orders.reduce(function (a, b) {
                                return {
                                    receive: a.receive + b.receive
                                }
                            }).receive : 0;
                        alert(`在${this.startDate.toLocaleDateString()}至${this.endDate.toLocaleDateString()}内，
            客户${this.filterCustomer==="all"?"全部":this.filterCustomer},
            有${this.statistics.created.orders.length}个创建订单，
            有${this.statistics.paid.orders.length}个支付订单
            下单总额：${this.statistics.created.amount}
            实收总额：${this.statistics.paid.receive}
                `)
                    }
                }
            });
            window.vm = vm;
        }(window))
    </script>
    <!-- <script src="index.js"></script> -->
</body>

</html>